.d3-tip {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(121, 85, 72, 0.8);
    color: #fff;
    border-radius: 2px;
    line-height: 1.5;
}
/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(121, 85, 72, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}
/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
}

.bar-chart--simple .bar:hover{
    fill:purple;
    cursor: pointer;
}

.stacked-demo.d3-tip {
    background: rgba(0, 0, 0, 1);
}

.stacked-demo.d3-tip:after {
    color: rgba(0, 0, 0, 1);
}

.group-tick line {
  stroke: #000;
}

.ribbons {
  fill-opacity: 0.67;
}

.simple-chord.d3-tip:after{
    display: none;
}

.simple-pack-chart-demo .node--hover circle {
  stroke: #000;
  stroke-width: 1.2px;
}

.simple-pack-chart-demo text {
  font: 10px sans-serif;
  text-anchor: middle;
  fill:#333;
}
.radar-chart-demo .radar-line:hover{
  fill-opacity:0.5;
  stroke-width: 3px;
}

.force-chart--simple .links line{
  stroke: #ddd;
}

.force-chart--simple .nodes text{
  font-size: 16px;
  font-weight: 700;
}

.force-chart--simple .nodes g{
  cursor: move;
}

.force-chart--simple .link-text text {
  font-size: 14px ;
  fill:#000;
  fill-opacity: 0;  
}

.tag-cloud-chart--simple .nodes text {
   font-weight: 700; 
}

.simple-voronoi-chart-demo .links {
  stroke: #fff;
}

.simple-voronoi-chart-demo .polygons {
  stroke: none;
}

.simple-voronoi-chart-demo .polygons :first-child {
  fill: #ccc;
}

.simple-voronoi-chart-demo .sites {
  fill: #fff;
  stroke: #fff;
}

.simple-voronoi-chart-demo .sites :first-child {
  fill: #fff;
}

.line-chart--simple .yAxis .domain {
  opacity: 0;
}

.line-chart--simple .yAxis .tick line {
  opacity: 0;
}

.line-chart--simple .xAxis .domain {
  opacity: 0.3;
}

.line-chart--simple .xAxis .tick line {
  opacity: 0.3;
}

.line-chart--simple .xAxis .tick text,  .line-chart--simple .yAxis .tick text{
  opacity: 0.6;
}

.d3-chart-tooltip {
  position: absolute;
  border-style: solid;
  white-space: nowrap;
  z-index: 9999999;
  transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: rgba(50, 50, 50, 0.7);
  border-width: 0px;
  border-color: rgb(51, 51, 51);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font: 12px/18px sans-serif;
  padding: 5px;
}

